<!DOCTYPE html>
<html>
<body>
    <form action="/login" method="'GET">
        <h1>Adrenaline Rush</h1>
<h4>Adrenaline Rush - уникальный энергетический напиток без искусственных красителей и консервантов. Компания PepsiCo позиционирует Adrenaline Rush как средство для борьбы с усталостью в городе. Он состоит исключительно из натуральных тонизирующих ингредиентов. Напиток идеален для ведущих активный образ жизни и следящих за своим здоровьем.</h4>
<h4>Adrenaline Rush — энергетический напиток, специально созданный для борьбы с усталостью. Adrenaline Rush помогает в полной мере ощутить возможности свободного мира и приходит на помощь, позволяя подчинить себе мир абсолютной энергии для борьбы с унылой и размеренной жизнью города.</h4>
<h2>Вкусы напитка</h2>
<h3>Adrenaline Rush classic</h3>
<img src="https://avatars.dzeninfra.ru/get-zen_doc/3700994/pub_600dadc210f02c6bc24d2388_600dafda1924cc0331a0087b/scale_1200" height="250px">
<h4>Adrenaline Rush – это специально разработанный комплекс эффективных тонизирующих ингредиентов, который даcт заряд энергии, для чего бы он тебе ни понадобился.</h4>
<h4>Классический вкус цитрусовых</h4>
<h3>Adrenaline Rush berry</h3>
<img src="https://avatars.dzeninfra.ru/get-zen_doc/1898210/pub_600dadc210f02c6bc24d2388_600db00f1924cc0331a074d7/scale_1200" height="250px">
<h4>Adrenaline Rush Ягодная Энергия – это абсолютная энергия твоего дня. Освежись ярким ягодным вкусом, а специально разработанный комплекс тонизирующих ингредиентов даст тебе мощный заряд энергии, когда это необходимо.</h4>
<h4>Вкус ягод</h4>
<h3>Adrenaline Rush candy</h3>
<img src="https://avatars.dzeninfra.ru/get-zen_doc/3638148/pub_600dadc210f02c6bc24d2388_600db06b27eccf7f00cf49be/scale_1200" height="250px">
<h4>Мы верим, что игра это серьёзно. GameFuel – энергетик для тех, кто #заряженигратькрасиво. Тащи любую катку на максимум, ведь Adrenaline GameFuel помогает сохранять концентрацию и скорость реакции, он создан для твоей красивой игры</h4>
<h4>Со вкусом конфеток</h4>
<h3>Adrenaline Rush candy</h3>
<img src="https://avatars.dzeninfra.ru/get-zen_doc/3397162/pub_600dadc210f02c6bc24d2388_600db0aacdf9ab055af3d0bd/scale_1200" height="250px">
<h4>Мы верим, что игра это серьёзно. GameFuel – энергетик для тех, кто #заряженигратькрасиво. Тащи любую катку на максимум, ведь Adrenaline GameFuel помогает сохранять концентрацию и скорость реакции, он создан для твоей красивой игры</h4>
<h4>Со вкусом конфет, по сути такой же как и прошлый только другой дизайн немного</h4>
<h3>Adrenaline gold</h3>
<img src="https://avatars.dzeninfra.ru/get-zen_doc/3523766/pub_600dadc210f02c6bc24d2388_600db12810f02c6bc2546360/scale_1200" height="250px">
<h4>Adrenaline Gold Red – роскошный бархатный вкус с доминирующими вишневыми оттенками и выраженным ароматом солода.</h4>
<h4>Роскошный бархатный вкус с доминирующими вишневыми оттенками и выраженным ароматом солода. На вкус как вишневое пиво</h4>
<h2>Отзывы людей</h2>
<h3>Недостатки:</h3>
<h4>Состав лучше любого лимонада, но грешок имеется. Один))</h4>
<h4>Учащенное сердцебиение, вкус</h4>
<h4>Отсутствие сахара)</h4>
<h3>Достоинства:</h3>
<h4>Довольно приятный вкус</h4>
<h4>Немного бодрит</h4>
<h4>Оригинальный вкус, часто можно купить со скидкой</h4>
<input type="submit" value="Назад">
    </form>
</body>
</html>