<!DOCTYPE html>
<html>
<body>
    <form action="/login" method="'GET">
         <h1>Burn</h1>
<h4>«Burn» («Бёрн») — безалкогольный энергетический напиток, производимый компанией Monster Beverage[1]. До 2015 года напиток выпускался компанией Coca Cola. По состоянию на конец 2018 года напиток выпускался приблизительно в 96 странах и территориях по всему миру[2]. В России продаётся с 2003 года[3]. Также был тропический Burn с добавлением соков в бутылке.</h4>
<h2>Вкусы напитка</h2>
<h3>BURN оригинал</h3>
<img src="https://avatars.dzeninfra.ru/get-zen_doc/1900370/pub_6005c365e0a5593cf7829e8c_6005c463e0a5593cf784eb6b/scale_1200" height="250px">
<h4>Уникальная энергетическая формула с освежающим вкусом, призванная пробудить твой огонь.</h4>
<h3>BURN яблоко-киви</h3>
<img src="https://avatars.dzeninfra.ru/get-zen_doc/1581245/pub_6005c365e0a5593cf7829e8c_6005c47ae0a5593cf785238c/scale_1200" height="250px">
<h4>Сочные ноты яблока и киви, дополненные уникальным вкусом BURN</h4>
<h3>BURN маракуйа</h3>
<img src="https://avatars.dzeninfra.ru/get-zen_doc/3502647/pub_6005c365e0a5593cf7829e8c_6005c49de0a5593cf7857c3c/scale_1200" height="250px">
<h4>Экзотический вкус маракуйи встречает уникальную формулу BURN.</h4>
<h3>BURN лед-пламя</h3>
<img src="https://avatars.dzeninfra.ru/get-zen_doc/3412021/pub_6005c365e0a5593cf7829e8c_6005c4b594dcbd4ea6295aba/scale_1200" height="250px">
<h4>Бодрящий заряд энергии, который берет все лучшее от союза льда и пламени</h4>
<h3>BURN цитрус</h3>
<img src="https://avatars.dzeninfra.ru/get-zen_doc/2458644/pub_6005c365e0a5593cf7829e8c_6005c4d094dcbd4ea6299407/scale_1200" height="250px">
<h4>Совершенно новый яркий фруктовый вкус с нотками цитруса</h4>
<h2>Отзывы людей</h2>
<h3>Недостатки:</h3>
<h4>Красит стакан если пить не из банки</h4>
<h4>В больших количествах конечно же очень вредно, т.к может сильно сказаться на сердце</h4>
<h4>Цена</h4>
<h3>Достоинства:</h3>
<h4>Заметная упаковка</h4>
<h4>Приятный вкус, бодрящий эффект.</h4>
<h4>Вкус</h4>
<input type="submit" value="Назад">
    </form>
</body>
</html>