<!DOCTYPE html>
<html>
<body>
    <form action="/login" method="'GET">
        <h1>Tornado Energy</h1>
<h4>Tornado Energy - торговая марка безалкогольных энергетических напитков. Бренд выпускает продукцию в России под контролем швейцарской компании Global Functional Drinks AG, дистрибутором которой является ГК СНС.</h4>
<h2>Вкусы напитка</h2>
<h3>Tornado Energy Coconut</h3>
<img src="https://irecommend.ru/sites/default/files/product-images/1722185/Mim1jiyVNdra6GHM7VBZOw.png" height="250px">
<h4>вкус кокоса и манго</h4>
<h3>Tornado Energy Skill</h3>
<img src="https://irecommend.ru/sites/default/files/product-images/819828/tfo0BBjVJryAUkSphHVuA.jpg" height="250px">
<h4>вкус ананаса и манго (вишни)</h4>
<h3>Tornado Energy Bubble</h3>
<img src="https://sbermarket.ru/statics/spree/products/2092766/original/15205123_1.jpg?1623917178" height="250px">
<h4>вкус жвачки баббл-гам</h4>
<h3>Tornado Energy Coffee</h3>
<img src="https://avatars.mds.yandex.net/get-mpic/4372959/img_id7328784484576941696.jpeg/orig" height="250px">
<h4>с экстрактом кофе</h4>
<h3>Tornado Energy Battle</h3>
<img src="https://media.vprok.ru/products/x700/ms/v4/3fwc2wkyironnkips25ymdtelkasv4ms.jpeg" height="250px">
<h4>вкус колы и чёрной смородины</h4>
<h2>Отзывы людей</h2>
<h3>Недостатки:</h3>
<h4>Все ок с этим энергетиком</h4>
<h4>Не было</h4>
<h4>Все отлично</h4>
<h3>Достоинства:</h3>
<h4>Нереально крутой энергетик за низкую цену.</h4>
<h4>Tornado работает на самом деле.</h4>
<h4>Придает энергичности.</h4>
<input type="submit" value="Назад">
    </form>
</body>
</html>